:root {
    --4chanQuote: #789922;
    --4chanQuotelink: #d00;
    --4chanName: #117743;


    /*Sleek Theme*/
    /* Minimal Paper Theme */
    /* Desktop Theme */

    /* Anon-tism Theme */

    /*Default Theme
    uses default 4chan colors*/


}

.AnontismTheme {
    --borders: solid 2px black;
    --contianerborder: var(var(--borders));
    --smallborders: solid 1px black;
    --bgColor_body:  blueviolet;
    --bgColor_header: yellow;
    --bgColor_main: goldenrod;
    --bgColor_postcontainer: yellowgreen;
    --bgColor_footer:  rgb(143, 118, 150);



}

.MinimalPaperTheme {
    --borders: none;
    --containerborder: solid 2px black;
    --smallborders: none;
    --bgColor_body:  whitesmoke;
    --bgColor_header: whitesmoke;
    --bgColor_main:  whitesmoke;
    --bgColor_postcontainer: whitesmoke;
    --bgColor_footer: whitesmoke;

    --headerTextColor: grey;
    --headerTextOpacity: 0.3;

}


.SleekTheme { /*https://colorhunt.co/palette/5222588c3061c63c51d95f59*/

    --borders: none;
    --containerborder: solid 2px #C63C51;
    --smallborders: none;
    --bgColor_body:  #522258;
    --bgColor_header: #522258;
    --bgColor_main:  #522258;
    --bgColor_postcontainer: #C63C51;
    --bgColor_footer: #522258;

    --headerTextColor: #D95F59;
    --headerTextOpacity: 0.9;
}


.DefaultTheme {
    --borders: none;
    --containerborder: solid 2px #b7c5d9;
    --smallborders: none;
    --bgColor_body:  #eef2ff;
    --bgColor_header: #eef2ff;
    --bgColor_main:  #eef2ff;
    --bgColor_postcontainer: #d6daf0;;
    --bgColor_footer: #eef2ff;

    --headerTextColor: #af0a0f;
    --navTextColor: #34345c;
    --headerTextOpacity: 1;

    --buttonTextColor: #34345c; 

}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

html {
    font-size: 10rem;
    /* color: gray; */
    color: black;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    border: var(--borders);
    /* height: 100%; */
    min-height: 5.1rem;
    background-color: var(--bgColor_body);

}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: var(--borders);
    background-color: var(--bgColor_header);
    padding-left: 0.05rem;
    padding-right: 0.05rem;
}


.sitename {
    color: var(--headerTextColor);
    opacity: var(--headerTextOpacity);
}



.options {
    color: var(--navTextColor);
    opacity: var(--headerTextOpacity);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: var(--borders);
    column-gap: 0.2rem;
    list-style: none;
}

#allownsfwlabel {
    font-size: 0.101rem;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: var(--borders);
    min-height: 3rem;
    background-color: var(--bgColor_main);


}

.post-container {   
    
    /*may have to convert micro layout in post container into a grid layout for ease.*/
    /* display: flex;
    flex-flow: row wrap; 
    justify-content: flex-end;
    align-items: center;
    align-content: center; */
    /* column-gap: 0.02rem; */





/*     
    column-gap: 0.04rem;






    border: solid 2px black;
    max-width: 5rem;
    padding: 0.05rem;
 */





    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);

    column-gap: 0.04rem;

    border: var(--containerborder);
    padding: 0.05rem;
    max-width: 5rem; 
    background-color: var(--bgColor_postcontainer);





}


.post-container-name{
    border: var(--smallborders);
    /* padding: 0.05rem; */
    color: var(--4chanName);
    font-weight: 700;
   

}

.post-container-now{
    border: var(--smallborders);
    /* padding: 0.05rem; */



}

.post-container-no{
    border: var(--smallborders);
    /* padding: 0.05rem; */



}

.post-container-no > a:link{

    text-decoration: wavy !important; /*why is this not working??*/
    color: var(--4chanQuotelink);
    font-size: 0.15rem;

    


}

.post-container-board{
    border: var(--smallborders);
    /* padding: 0.05rem; */

}





.post-container-filename{
    border: var(--smallborders);
    /* padding: 0.05rem; */
    font-size: 0.1rem;
    grid-column: 3/4;
    grid-row: 2/3;





}

.post-container-fsize{
    border: var(--smallborders);
    /* padding: 0.05rem; */
    font-size: 0.1rem;
    grid-column: 4;
    grid-row: 2/3;

    




}



.post-container-thumbnail{
    border: var(--smallborders);
    /* padding: 0.05rem; */
    /* -align-self: flex-end; */
    grid-column: 1/2;
    grid-row: 3/4;



}

/* must do somw auto flow thing so that the thumbnail pushes the com block over when appears, but when there is not thumbnail, the com block is in the center. */


.post-container-com{
    border: var(--smallborders);
    /* padding: 0.05rem; */
    font-size: 0.15rem;
    grid-column: 2/5 ;
    grid-row: 3/4;



}


.quote{
    color: var(--4chanQuote);
    font-size: 0.15rem;
    /* font-size: 10pt; */
}

.quotelink{

    color: var(--4chanQuotelink);
    font-size: 0.15rem;

}

.btn {
    color: var(--buttonTextColor);
    font-weight: 700;
}

footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: var(--borders);
    background-color: var(--bgColor_footer);

}