:root {
    --4chanQuote: #789922;
    --4chanQuotelink: #d00;
    --4chanName: #117743;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

html {
    font-size: 10rem;
    /* color: gray; */
    color: black;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    border: solid 2px black;
    /* height: 100%; */
    min-height: 5.1rem;
}

header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: solid 2px black;
}

.options {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: solid 2px black;
    column-gap: 0.2rem;
    list-style: none;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: solid 2px black;
    min-height: 3rem;

}

.post-container {
    display: flex;
    flex-flow: row wrap; /*i think this has to be nowrap, must investigate */
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    /* column-gap: 0.02rem; */
    column-gap: 0.04rem;

    border: solid 2px black;
    max-width: 5rem;
    padding: 0.05rem;



}



.post-container-board{
    border: 1px solid black;
    /* padding: 0.05rem; */
    order: 4;

}

.post-container-now{
    border: 1px solid black;
    /* padding: 0.05rem; */
    order: 2;



}

.post-container-no{
    border: 1px solid black;
    flex-grow: 2;
    /* padding: 0.05rem; */
    order: 3;



}

.post-container-no > a:link{

    text-decoration: wavy !important; /*why is this not working??*/
    color: var(--4chanQuotelink);
    font-size: 0.15rem;

    


}

.post-container-name{
    border: 1px solid black;
    /* padding: 0.05rem; */
    color: var(--4chanName);
    font-weight: 700;
    order: 1;

}

.post-container-com{
    border: 1px solid black;
    /* padding: 0.05rem; */
    order: 8;



}



.post-container-fsize{
    border: 1px solid black;
    /* padding: 0.05rem; */
    order: 7;



}

.post-container-filename{
    border: 1px solid black;
    /* padding: 0.05rem; */
    order: 6;



}

.post-container-thumbnail{
    border: 1px solid black;
    /* padding: 0.05rem; */
    order: 5;



}

.quote{
    color: var(--4chanQuote);
    font-size: 0.15rem;
    /* font-size: 10pt; */
}

.quotelink{

    color: var(--4chanQuotelink);
    font-size: 0.15rem;

}

footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: solid 2px black;
}