:root {
    --4chanQuote: #789922;
    --4chanQuotelink: #d00;
    --4chanName: #117743;


    /*Sleek Theme*/
    /* Minimal Paper Theme */
    /* Desktop Theme */

    /* Anon-tism Theme */

    /*Default Theme
    uses default 4chan colors*/


}

.AnontismTheme {
    --borders: solid 2px black;
    --contianerborder: var(var(--borders));
    --containerborderleft: none;

    --smallborders: solid 1px black;
    --bgColor_body:  blueviolet;
    --bgColor_header: yellow;
    --bgColor_main: goldenrod;
    --bgColor_postcontainer: yellowgreen;
    --bgColor_footer:  rgb(143, 118, 150);



}

.MinimalPaperTheme {
    --borders: none;
    --containerborder: none; /*solid 2px black;*/

    --smallborders: none;
    --bgColor_body:  #F0EAD6;
    --bgColor_header: #F0EAD6;
    --bgColor_main:  #F0EAD6;
    --bgColor_postcontainer: #F0EAD6;
    --bgColor_footer: #F0EAD6;

    --headerTextColor: grey;
    --headerTextOpacity: 0.3;

    --buttonTextColor: grey; 
    --dropdownTextColor: grey;

    


}
/* 
.MinimalPaperTheme-style-vertical-line {
    border-left: var(--containerborderleft);
    position: absolute;

} */


.SleekTheme { /*https://colorhunt.co/palette/5222588c3061c63c51d95f59*/

    --borders: none;
    --containerborder: solid 2px #363062;
    --containerborderleft: none;

    --smallborders: none;
    --bgColor_body:  #363062;
    --bgColor_header: #363062;
    --bgColor_main:  #363062;
    --bgColor_postcontainer: #435585;
    --bgColor_footer: #363062;

    --navTextColor: #F5E8C7;
    --dropdownTextColor: #F5E8C7;

    --headerTextColor: #F5E8C7;
    --headerTextOpacity: 0.9;
}


.DefaultTheme {
    --borders: none;
    --containerborder: solid 2px #b7c5d9;
    --containerborderleft: none;

    --smallborders: none;
    --bgColor_body:  #eef2ff;
    --bgColor_header: #eef2ff;
    --bgColor_main:  #eef2ff;
    --bgColor_postcontainer: #d6daf0;;
    --bgColor_footer: #eef2ff;

    --headerTextColor: #af0a0f;
    --navTextColor: #34345c;
    --headerTextOpacity: 1;

    --buttonTextColor: #33335b; 

    --bgColor_dropdowncontent: var(--bgColor_postcontainer);
    --dropdownTextColor: var(--headerTextColor);
    --opacity_dropdowncontent: 0.5;

}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

html {
    font-size: 10rem;
    /* color: gray; */
    color: black;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    border: var(--borders);
    /* height: 100%; */
    min-height: 5.1rem;
    background-color: var(--bgColor_body);

}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-end;
    align-items: center;
    align-content: center;
    border: var(--borders);
    background-color: var(--bgColor_header);
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    margin-top: 0.1rem;
    /* border: solid 2px black; */
 
    

}


.sitename {
    color: var(--headerTextColor);
    opacity: var(--headerTextOpacity);
    /* border: solid 2px black; */
    margin-right: auto; /*can use this to make items to as far to the other side of their parent container as possible*/

}



.options {
    color: var(--navTextColor);
    opacity: var(--headerTextOpacity);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: var(--borders);
    column-gap: 0.2rem;
    list-style: none;
    /* border: solid 2px black; */
    cursor:pointer;

}



#allownsfwlabel {
    font-size: 0.101rem;
    cursor:pointer;

}

.dropdown {
    border: none;
}

.dropdown-content {
    display: none; /*will become flex when activated*/
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor:pointer;





    list-style: none;
    min-width: 100px;

    background-color: var(--bgColor_dropdowncontent);
    border: solid 1px #b7c5d9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    
    
    color: var(--dropdownTextColor);
    opacity: inherit;
   
    font-size: 0.15rem;


    position:absolute;
    right: 0.47rem;
    top: 0.3rem;
}

.dropdown-content li {

    min-width: 100%;
    min-height: 0.3rem;
    text-align: center; 
    padding-top: 0.1rem;
 



}

.dropdown-content :nth-child(2) {
    padding-top: 0.05rem;
}


.dropdown-content li:hover {
    background-color: #eef2ff ;
   

}

.material-symbols-outlined .dropdownarrow {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.dropdownarrow {
    position: relative;
    right: 0.47rem;
    cursor:pointer;


}


.about-content {
    display:none;


    text-align: center;
    background-color: var(--bgColor_dropdowncontent);
    width: 0.5rem;
    color: var(--dropdownTextColor);
    opacity: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    font-size: 0.15rem;

    position:absolute;
    top: 0.3rem;





}


main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: var(--borders);
    min-height: 3rem;
    background-color: var(--bgColor_main);


}

.post-container {   
    
    /*may have to convert micro layout in post container into a grid layout for ease.*/
    /* display: flex;
    flex-flow: row wrap; 
    justify-content: flex-end;
    align-items: center;
    align-content: center; */
    /* column-gap: 0.02rem; */





/*     
    column-gap: 0.04rem;






    border: solid 2px black;
    max-width: 5rem;
    padding: 0.05rem;
 */





    display:grid;
    grid-template-columns: min-content, auto;

    /* grid-template-columns: repeat(4, minmax(min-content,auto)); */
    grid-template-rows: repeat(3, min-content);
    justify-items: start;
    align-items: center;
    justify-content:start ;
    align-content: center;

    column-gap: 0.04rem;

    /* border: var(--containerborder); */
    /* border: 2px solid black;
    margin-left: 2.5rem;
    margin-right: 2.5rem; */

    padding: 0.05rem;
    max-width: 5rem; 
    /* max-width: auto; */

    background-color: var(--bgColor_postcontainer);





}


.post-title-flex-container {
    /* border: 2px solid black; */
    grid-column: 1/-1;
    grid-row: 1/2;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.05rem;
    

}

/* .post-container-name{
    border: var(--smallborders);
    color: var(--4chanName);
    font-weight: 700;
    grid-column: 1/2;
    grid-row: 1;
   

}

.post-container-now{
    border: var(--smallborders);
    grid-column: 1/2;
    grid-row: 1;
    margin-left: 0.9rem; 

}

.post-container-no{
    border: var(--smallborders);
    grid-column: 1/2;
    grid-row: 1;
    margin-left: 2.50rem; 




} */


.post-container-name{/*flex child version*/
    border: var(--smallborders);
    color: var(--4chanName);
    font-weight: 700;
    font-size: 0.15rem;
    order: 1;

   

}

.post-container-now{/*flex child version*/
    border: var(--smallborders);
    font-size: 0.15rem;

    order: 2;
  

}

.post-container-no{/*flex child version*/
    border: var(--smallborders);
    font-size: 0.15rem;

    order: 3;
   




}


.post-container-no > a:link{

    text-decoration: wavy !important; /*why is this not working??*/
    color: var(--4chanQuotelink);
    font-size: 0.15rem;

    


}

.post-container-board{
    border: var(--smallborders);
    grid-column: 2;
    grid-row: 1;
    justify-self: end;

}


/* .post-container-board{
    border: var(--smallborders);
    order: 4;
    justify-self: end;

} */



.file-info-flex-container {
    /* border: 2px solid black; */
    grid-column: 1/-1;
    grid-row: 2/3;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width:inherit;
    column-gap: 0.1rem;
    

}



/* 
.post-container-filename{
    border: var(--smallborders);
    font-size: 0.1rem;
    grid-column: 1/2;
    grid-row: 2/3;





}

.post-container-fsize{
    border: var(--smallborders);
    font-size: 0.1rem;
    grid-column: 1/2;
    grid-row: 2/3;

    




} */

.post-container-filename{ /*flex child version*/
    border: var(--smallborders);
    /* padding: 0.05rem; */
    font-size: 0.1rem;
    order: 1;

  





}

.post-container-fsize{ /*flex child version*/
    border: var(--smallborders);
    /* padding: 0.05rem; */
    font-size: 0.1rem;
    order: 2;
  
    




}

.closebtn {
    text-decoration: underline;
    color: blue;
    font-size: 0.1rem;

    cursor:pointer;
    order: 3;


}



.media-text-flex-container {
    /* border: 2px solid black; */
    grid-column: 1/ -1;
    grid-row: 3/4;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width:inherit;
    column-gap: 0.8rem;    

}


/* .post-container-thumbnail{
    border: var(--smallborders);
    grid-column: 1/ -1;
    grid-row: 3/4;
    justify-self: start;
    cursor:pointer;
    z-index: 0;




} */

.post-container-thumbnail{ /*flex child version*/
    border: var(--smallborders);
    order: 1;
 
    cursor:pointer;
    max-width: 773.433px;
    max-height: 435.056px;
  


}



/* must do somw auto flow thing so that the thumbnail pushes the com block over when appears, but when there is not thumbnail, the com block is in the center. */


/* .post-container-com{
    border: var(--smallborders);
    font-size: 0.15rem;
    grid-column: 1/-1 ;
    grid-row: 3/4;
    z-index: 0;

    
    



} */


.post-container-com{ /*flex child version*/
    border: var(--smallborders);
    font-size: 0.15rem;
    order: 2;

    
    



}



.ic--baseline-autorenew {
    display: inline-block;
    width: 3em;
    height: 3em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 6v3l4-4l-4-4v3c-4.42 0-8 3.58-8 8c0 1.57.46 3.03 1.24 4.26L6.7 14.8A5.9 5.9 0 0 1 6 12c0-3.31 2.69-6 6-6m6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8c0 3.31-2.69 6-6 6v-3l-4 4l4 4v-3c4.42 0 8-3.58 8-8c0-1.57-.46-3.03-1.24-4.26'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }







.quote{
    color: var(--4chanQuote);
    font-size: 0.15rem;
    /* font-size: 10pt; */
}

.quotelink{

    color: var(--4chanQuotelink);
    font-size: 0.15rem;

}

.btn {
    color: var(--buttonTextColor);

    background-color: var(--bgColor_main);
    border: 1px solid var(--buttonTextColor);
    border-radius: 0.2rem;
    opacity: var(--headerTextOpacity);
    padding: 0.1rem;
    margin-top: 0.1rem;
    cursor:pointer;

   
}

.btn:hover {
    background-color: var(--buttonTextColor);
    color: var(--bgColor_main);



}

.btn p {
    font-size: 0.1rem;
    font-weight: 700;


}




footer { 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: var(--borders);
    background-color: var(--bgColor_footer);

}

@media (max-width: 800px) {
    /* -header
    -main/body
    -footer */


    /* header */
    header {
        flex-flow: column wrap;
        justify-content:center;
        align-items: center;
        align-content: center;
        border: var(--borders);
        background-color: var(--bgColor_header);
       
    }

    .sitename {
     
        margin-right: 0;
    
    }

    .dropdown-content {
        
        position:absolute;
        top: 0.5rem;
        left: 1.3rem;
       
    }

  
    .dropdownarrow {
        position: relative;
        left: 0.45rem;
        bottom:0.13rem;
       
    
    }



    .post-container {

        display:grid;
        /* grid-template-columns: repeat(3, fit-content()); */
        grid-template-columns: min-content, auto;

        /* grid-template-rows: repeat(5, min-content); */
        grid-template-rows: repeat(3, min-content);

        justify-items: start;
        align-items: center;
        justify-content:start ;
        align-content: center;

        column-gap: 0.04rem;

        border: var(--containerborder);
        padding: 0.05rem;
        background-color: var(--bgColor_postcontainer);
        max-width: 2.5rem;

    }


    .post-title-flex-container {
        /* border: 2px solid black; */
        grid-column: 1/-1;
        grid-row: 1/2;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 0.05rem;
        
    
    }

   

    .post-container-name{/*flex child version*/
        border: var(--smallborders);
        color: var(--4chanName);
        font-weight: 700;
        font-size: 0.15rem;
        order: 1;
    
       
    
    }
    
    .post-container-now{/*flex child version*/
        border: var(--smallborders);
        font-size: 0.15rem;
    
        order: 2;
      
    
    }
    
    .post-container-no{/*flex child version*/
        border: var(--smallborders);
        font-size: 0.15rem;
    
        order: 3;
       
    
    
    
    
    }
    

    .post-container-no > a:link{

        /* font-size: 10px; */
        font-size: 0.15rem;
        color: var(--4chanQuotelink);




        


    }



    .post-container-board{
        border: var(--smallborders);
        /* padding: 0.05rem; */
        order: 4;
        justify-self: end;
        font-size: 0.15rem;



    }








    .file-info-flex-container {
        /* border: 2px solid black; */
        grid-column: 1/-1;
        grid-row: 2/3;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        column-gap: 0.1rem;
        
    
    }
    

    .post-container-filename{ /*flex child version*/
        border: var(--smallborders);
        /* padding: 0.05rem; */
        font-size: 0.1rem;
        order: 1;
    
      
    
    
    
    
    
    }
    
    .post-container-fsize{ /*flex child version*/
        border: var(--smallborders);
        /* padding: 0.05rem; */
        font-size: 0.1rem;
        order: 2;
      
        
    
    
    
    
    }




    .media-text-flex-container {
        /* border: 2px solid black; */
        grid-column: 1/ -1;
        grid-row: 3/4;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width:inherit;
        column-gap: 0.8rem;    
    
    }
    .post-container-thumbnail{ /*flex child version*/
        border: var(--smallborders);
        order: 1;
     
        cursor:pointer;
        max-width: 350px;
        max-height: 750px;
      
    
    
    }


    .post-container-com{ /*flex child version*/
        border: var(--smallborders);
        font-size: 0.14rem;
        order: 2;
    
        
        
    
    
    
    }
    


    .quote{
        /* font-size: 10px; */
        font-size: 0.14rem;
        
    }
    
    .quotelink{
    
        /* font-size: 10px; */
        font-size: 0.14rem;

    }



    

}

/* TODO: rearrange post information when screen in mobile size. Make top more compact/less whitespace */